<a href="https://colab.research.google.com/github/Kerubo98/week-4/blob/main/Moringa_Data_Science_Prep_W4_Independent_2021_08_Cynthia_Kerubo_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.1 Loading Libraries

In [ ]:
#import pandas
import pandas as pd

#import numpy
import numpy as np

1.2 Import dataset

In [ ]:
#loading the autolib dataset
auto=pd.read_csv('http://bit.ly/autolib_dataset')

#Previewing the dataset
auto.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

1.3 Accessing information

In [ ]:
#learning more about the dataset
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
#dataset shape
auto.shape

(5000, 25)

In [ ]:
#dataset size
auto.size

125000

1.4 Cleaning the dataset

1.4.1 Validity

In [ ]:
auto.head(1)

               Address  Cars  Bluecar counter  ...  day  hour  minute
0  2 Avenue de Suffren     0                0  ...    8    11      43

[1 rows x 25 columns]

In [ ]:
#dropping columns that we do not need for analysis
auto.drop(['Subscription status', 'ID', 'Status'], axis=1,inplace=True)

In [ ]:
#new data set
auto.shape

(5000, 22)

1.4.2 Completeness

In [ ]:
#checking for missing values
auto.isnull()

      Address   Cars  Bluecar counter  ...    day   hour  minute
0       False  False            False  ...  False  False   False
1       False  False            False  ...  False  False   False
2       False  False            False  ...  False  False   False
3       False  False            False  ...  False  False   False
4       False  False            False  ...  False  False   False
...       ...    ...              ...  ...    ...    ...     ...
4995    False  False            False  ...  False  False   False
4996    False  False            False  ...  False  False   False
4997    False  False            False  ...  False  False   False
4998    False  False            False  ...  False  False   False
4999    False  False            False  ...  False  False   False

[5000 rows x 22 columns]

In [ ]:
#checking where the missing values are
auto.isnull().any()

Address               False
Cars                  False
Bluecar counter       False
Utilib counter        False
Utilib 1.4 counter    False
Charge Slots          False
Charging Status       False
City                  False
Displayed comment      True
Kind                  False
Geo point             False
Postal code           False
Public name           False
Rental status         False
Scheduled at           True
Slots                 False
Station type          False
year                  False
month                 False
day                   False
hour                  False
minute                False
dtype: bool

In [ ]:
#checking the number of missing values
auto.isnull().sum()

Address                  0
Cars                     0
Bluecar counter          0
Utilib counter           0
Utilib 1.4 counter       0
Charge Slots             0
Charging Status          0
City                     0
Displayed comment     4889
Kind                     0
Geo point                0
Postal code              0
Public name              0
Rental status            0
Scheduled at          4953
Slots                    0
Station type             0
year                     0
month                    0
day                      0
hour                     0
minute                   0
dtype: int64

In [ ]:
#finding the total number of missing values
auto.isnull().sum().sum()

9842

In [14]:
#dropping NA's
auto1= auto.drop(['Displayed comment', 'Scheduled at'], axis=1)

1.4.3 Consistency

In [17]:
#Checking for duplicates
auto1.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

In [16]:
#checking for the sum of duplicates
auto1.duplicated().sum()

0

In [18]:
auto1.head(1)

               Address  Cars  Bluecar counter  ...  day  hour  minute
0  2 Avenue de Suffren     0                0  ...    8    11      43

[1 rows x 20 columns]

1.4.4 Uniformity

In [ ]:
#checking the data types of each column
auto1.dtypes

Address               object
Cars                   int64
Bluecar counter        int64
Utilib counter         int64
Utilib 1.4 counter     int64
Charge Slots           int64
Charging Status       object
City                  object
Kind                  object
Geo point             object
Postal code            int64
Public name           object
Rental status         object
Slots                  int64
Station type          object
year                   int64
month                  int64
day                    int64
hour                   int64
minute                 int64
dtype: object

In [ ]:
auto1.head(1)

               Address  Cars  Bluecar counter  ...  day  hour  minute
0  2 Avenue de Suffren     0                0  ...    8    11      43

[1 rows x 20 columns]

In [ ]:
#changing the dates and time to datetime data types
#Importing 
from datetime import datetime

#changing to datetime data type

In [ ]:
#checking the change
auto1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Address             5000 non-null   object
 1   Cars                5000 non-null   int64
 2   Bluecar counter     5000 non-null   int64
 3   Utilib counter      5000 non-null   int64
 4   Utilib 1.4 counter  5000 non-null   int64
 5   Charge Slots        5000 non-null   int64
 6   Charging Status     5000 non-null   object
 7   City                5000 non-null   object
 8   Kind                5000 non-null   object
 9   Geo point           5000 non-null   object
 10  Postal code         5000 non-null   int64
 11  Public name         5000 non-null   object
 12  Rental status       5000 non-null   object
 13  Slots               5000 non-null   int64
 14  Station type        5000 non-null   object
 15  year                5000 non-null   datetime64[ns]
 16  month               5000 non-null   datetime64[ns]
 17  day                 5000 non-null   datetime64[ns]
 18  hour                5000 non-null   datetime64[ns]
 19  minute              5000 non-null   datetime64[ns]
dtypes: datetime64[ns](5), int64(7), object(8)
memory usage: 781.4+ KB

2. **Analysis**

In [ ]:
auto1['hour'].unique()

array([11,  7, 20,  4, 17, 18, 22, 15,  9, 12, 21,  8,  0, 19,  6,  3, 23,
        2,  1, 10, 16, 13, 14,  5])

In [ ]:
most = auto1.groupby('City').count()
most.sort_values(by='hour', ascending=0).head(1)

       Address  Cars  Bluecar counter  ...   day  hour  minute
City                                   ...
Paris     2816  2816             2816  ...  2816  2816    2816

[1 rows x 19 columns]

In [ ]:
#Poatal code
auto1['Postal code'].mode()

0    75015
dtype: int64

In [ ]:
auto1['Station type'].unique()

array(['station', 'full_station', 'subs_center'], dtype=object)

In [ ]:
#popular station
auto1['Station type'].mode()

0    station
dtype: object

In [19]:
#picking hour
auto1['hour'].mode()

0    21
dtype: int64

In [20]:
#month
auto1['month'].mode()

0    4
dtype: int64

In [22]:
auto1['Cars'].unique()

array([0, 6, 3, 1, 5, 4, 2, 7])